body {
    color: bisque;
    background-color: crimson;
}

.heading {
    width: 80%;
    font-size: 22px;
}

#camera {
    border: 2px dashed firebrick;
    width: 350px;
    height: 300px;
}

.name_of_objects,
#result_object_name,
#result_object_accuracy {
    color:fuchsia(225, 0, 21, 0.78);
}